* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-ccc {
    background-color: #ccc;
}
.bg-green {
    background-color: green;
}
.bg-white {
    background-color: white;
}
.bg-trans {
    background-color: transparent;
}
.color-fff {
    color: #fff;
}
.color-000 {
    color: #000;
}
.color-green {
    color: green;
}
.color-grey {
    color: grey;
}
.br-10 {
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.brl-10 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.brr-10 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.br-30 {
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
.d-flex {
    display: flex;
}
.iflex {
    display: inline-flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.d-iblock {
    display: inline-block;
}
.d-block {
    display: block;
}
.column {
    flex-direction: column;
}
.ai-center {
    align-items: center;
}
.jc-center {
    justify-content: center;
}
.ta-center {
    text-align: center;
}
.container {
    width:1400px;
    height:800px;
    margin:300px auto;
    /* margin:auto niye islemir */
}
.p-5 {
    padding: 5px;
}
.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.px-50 {
    padding-left: 50px;
    padding-right: 50px;
}
.mr-10 {
    margin-right: 10px;
}
.fbasis {
    flex-basis: 35%;
}
.fgrow {
    flex: 1;
}
.fs-30 {
    font-size: 30px;
}
.fs-20 {
    font-size: 20px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-50 {
    margin-bottom: 50px;
}
.w-100 {
    width: 100%;
}
.w-300 {
    width: 300px;
}
.tdecor-none {
    text-decoration: none;
}
.t-uppercase {
    text-transform: uppercase;
}
.b-fff {
    border: 1px solid #fff;
}
.b-red {
    border:1px solid red;
}
.b-grey {
    border:1px solid rgba(128, 128, 128, 0.2);
}
.border-0 {
    border: none;
}
.outline-0 {
    outline: none;
}
.pointer {
    cursor: pointer;
}
.transition {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.bshadow:hover {
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, .3);
}
.giris:hover {
    box-shadow: 5px 5px 35px rgb(255, 255, 255),-5px -5px 35px rgb(255, 255, 255);
    background-color: #fff;
    color: green;
}
.icon:hover {
    background-color: green;
    color: #fff;
}
.icon:hover i {
    transform: scale(1.4,1.4);
    -webkit-transform: scale(1.4,1.4);
    -moz-transform: scale(1.4,1.4);
    -ms-transform: scale(1.4,1.4);
    -o-transform: scale(1.4,1.4);
}
.o-hidden {
    overflow: hidden;
}
input[type=submit]:hover {
    background-color: transparent;
    color: green;
    box-shadow: 5px 5px 35px rgb(72, 231, 86),-5px -5px 35px rgb(72, 231, 86);
}
.input:hover {
    background-color: green;
    box-shadow: 5px 5px 35px rgb(72, 231, 86),-5px -5px 35px rgb(72, 231, 86);
}
.input:hover::placeholder {
    color: white;
}
